body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #777;
}

h1 {
	border-bottom: solid 2px #eee;
	font-size: 32px;
	letter-spacing: 2px;
	font-weight: bolder;
	color: #555;
}

h2 {
	border-bottom: solid 2px #eee;
	font-size: 28px;
	letter-spacing: 1.5px;
	color: #555;
}

h3 {
	border: solid 2px #555;
	font-size: 24px;
	letter-spacing: 1px;
	color: #333;
}

h4 {
	font-size: 20px;
	color: #89b7ae;
	font-weight: bold;
}


a:link {
	color: #88abc8 !important;
	text-decoration: none;
}

a:hover {
	color: #c4eaee !important;
	text-decoration: none;
}

a:active {
	color: #c4eaee !important;
	text-decoration: none;
}

i {
	color: inherit;
}

.content-wrapper {
	padding: 0;
	margin: 0;
}

#nav-title {
	padding: 0
}

#alfienity-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: solid 5px #eee;
}


